body{
	background:#252829;
	margin:0%;
	margin-top: -20px;
}

h1{
	color:white;
	text-align: center;
	line-height: 1.1;
	text-transform: uppercase;
}



.square{
	background:white;
	padding-bottom: 30%;
	width:30%;
	float: left;
	margin:1.66%;
	border-radius: 20%;
	transition: background 0.5s;
}

#container{
	max-width: 600px;
	margin:0 auto;
	margin-top: 30px;
}

#msg{
	color:black;
	display: inline-block;
	width:35%;


}

#color{
	font-size: 200%;

}

#stripe{
	background:white;
	height:30px;
	text-align: center;
	width:100%;
}

.selected{
	background: #FABF61;
	color:white;

}

#heading{
	background:#FABF61;
	height:150px;
	transition: background 0.5s;

}

button{
	background:none;
	border:none;
	text-transform: uppercase;
	height:100%;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
}

button:hover{
	background:#FABF61;
	color:white;
}
